#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  left: 0%;
  top: 0%;
  position: absolute;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #e1ff00);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  color: white;
}

.title {
  color: white;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.read-the-docs {
  color: #888;
}

.AbusButton {
  all: unset;
}

.AbusOverlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.Abuspopup {
  background-color: black;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: 60%;
  width: 95%;
  transform: translateY(100%);
  animation: slideUpFadeIn 0.5s forwards;
}

.Abuspopup h2 {
  height: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  max-width: 100%;
  gap: 1em;
  bottom: 2em;
}

.box {
  position: relative;
  padding: 2em;
  background-color: transparent;
  text-align: center;
  border-radius: 0em;
  color: #ffff;
}

.box img {
  position: relative;
  margin-top: 0em;
  max-width: auto;
  height: 275px;
  object-fit: cover;
  margin-bottom: 2em;
  border-radius: 20%;
  display: block;
}

.devname {
  position: relative;
  margin-top: 0em;
}

.devname p {
  font-size: 20px;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
}

.more {
  top: 5%;
  left: 85%;
  position: absolute;
  font-size: 20px;
  display: flex;
  gap: 1em;
  margin: 0px;
}

.fpoverlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.fppopup {
  background-color: black;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: 35%;
  width: 25%;
  transform: translateY(100%);
  animation: slideUpFadeIn 0.5s forwards;
}

.ls-pair {
  justify-content: center;
  display: flex;
  gap: 1em;
}

.forgot-password {
  all: unset;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  color: white;
  margin-top: 1em;
}

.PopUpButton {
  text-align: center;
  display: flex;
  gap: 1em;
}

.overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.popup {
  background-color: black;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: 60%;
  width: 25%;
  transform: translateY(100%);
  animation: slideUpFadeIn 0.5s forwards;
}

.popup-signup {
  background-color: black;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: 70%;
  width: 25%;
  transform: translateY(100%);
  animation: slideUpFadeIn 0.5s forwards;
}

.circular-input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid gray;
  border-radius: 20px; /* Adjust as needed to achieve circular appearance */
  background: black;
  outline: none;
  box-sizing: border-box;
  color: #ffff;
}

.error-message {
  font-size: 16px;
}

.x {
  position: absolute;
  cursor: pointer;
  padding: 0; /* Ensures no additional padding affects size */
  background: black;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-weight: 20;
  box-sizing: border-box; /* Ensures padding is included in width/height */
  width: 0.5em; /* Adjust as needed */
  height: 0.5em; /* Adjust as needed */
  font-size: 30px;
  top: 0%;
  right: 5%;
  user-select: none;
}

.x:hover {
  color: #e1ff00; /* Replace with desired hover color */
}

.x-about {
  position: absolute;
  cursor: pointer;
  padding: 0; /* Ensures no additional padding affects size */
  background: black;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-weight: 20;
  box-sizing: border-box; /* Ensures padding is included in width/height */
  width: 0.5em; /* Adjust as needed */
  height: 0.5em; /* Adjust as needed */
  font-size: 30px;
  top: 0%;
  right: 2%;
  user-select: none;
}

.x-about:hover {
  color: #e1ff00; /* Replace with desired hover color */
}

@keyframes slideUpFadeIn {
  from {
      transform: translateY(100%);
  }
  to {
      transform: translateY(0);
  }
}